<!DOCTYPE html>
<html>
  <head>
    <title>Durst</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div style="width: 50%; margin: 100px; 100px; text-align: center">
      <%= image_tag 'durst.png' %>
    </div>
  </body>
</html>
